<%- include("partials/header.ejs") %>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <style>
    .new-bg{
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      object-fit: cover;
      filter: brightness(0.4);
      z-index: -2;
    }
.title{
  display: flex;
}
    .space{
      width: 100px;
    }
  </style>
  <body class="bg-zinc-200">
    <img src="images/new2.avif" class="new-bg" alt="">
    <div class="container">
      <!-- <h1>ON Going Hackathon</h1>
      <a id="newPostBtn" href="/new">New Post</a>
      <br> -->
      <form action="/form" class="mb-12 max-w-4xl mx-auto flex border shadow-md">
        <input class="px-3 flex-grow py-2" type="text" name="id" placeholder="Search By id ..">
        <button class="px-3 py-1.5 w-fit text-white bg-gray-600 hover:bg-gray-500">submit</button>
      </form>


      <ul class="w-full max-w-4xl mx-auto flex flex-col items-center gap-4">
   
     <%    posts.forEach(post => { %>
        <li class="flex gap-2 max-w-4xl w-full border rounded-md shadow-md p-2 bg-white">
          <img
            src="<%= Image %>"
            alt="loading the image" class="aspect-square rounded h-48">

          <div class="w-full text-left p-2 grid grid-cols-2">
             <div class="title">
            <h3 class="uppercase px-2 py-1.5 col-span-2 text-xl font-bold"><%= post.title %> 
              
              <% if(post.category == 'concerts'){ %>
                <div class="space"></div>  On Going Concert in Your city</h3> <!-- title-->
            <%  }else{ %>
              </h3>
             <% } %>

          </div>
            <span class="px-3 py-1.5 capitalize h-fit w-fit rounded-full bg-gray-600 text-white text-sm" >Ends at : <%= post.end%></span> <!-- end-->
            <span class="px-3 py-1.5 capitalize  h-fit w-fit rounded-full bg-blue-100 border border-blue-600 text-blue-600 font-sm" >Online</span>

            <span class="px-2 py-1.5 capitalize" >category :<%= post.category %></span>  <!-- concerts-->
              <% if(post.entities[0]){ %>
                <span class="px-2 py-1.5 capitalize" >location:  <%= post.entities[0].formatted_address %></span>  <!-- concerts--> 
                <span class="px-2 py-1.5 capitalize" >Venue:  <%= post.entities[0].name %></span>  
            <%  } %>
            <span class="px-2 py-1.5 capitalize" ><%= post.phq_attendance %> Participants</span>   <!-- phq_attendance-->
            
          </div>
          

          <!-- <small>By: post.author%> </small>
          <a class="edit" href="/edit/ post.id %>">Edit</a>
          <a class="delete" href="/api/posts/delete/post.id %>">Delete</a> -->
        </li>
       <%  }); %>
     
      </ul>
    </div>

  </body>

  </html>
  <%- include("partials/footer.ejs") %>
      <!-- <h4>
          MLH Long month Hackathon -->
      <!--posts.title-->

      <!-- <i style="font-size: 16px;font-weight: 600;"> 3 days left</i> -->
      <!--posts.time_left_to_submission-->

      <!-- </h4> -->

      <!-- <div class="small-things">
          <p style="display: flex; align-items: center;">  <i class="material-icons">&#xe55c;</i> online  </p> -->
      <!--posts.displayed_location.location-->
      <!-- <div class="space"></div>
          <p>Open</p> -->
      <!--posts.open_state-->
      <!-- </div>

        <div class="prize-pool">
          <p> 20,000$</p> -->
      <!--posts.prize_amount-->
      <!-- <div class="space"></div>
          <p> 582</p> -->
      <!--posts.registrations_count-->


      <!-- </div>

       
      </div> -->